:root {
  --black: rgba(0, 0, 0, 1);
  --neutraloffwhite: rgb(199, 199, 199, 1);
  --text-regular-normal-font-family: "Roboto", Helvetica;
  --text-regular-normal-font-size: 16px;
  --text-regular-normal-font-style: normal;
  --text-regular-normal-font-weight: 400;
  --text-regular-normal-letter-spacing: 0px;
  --text-regular-normal-line-height: 150%;
  --white: rgba(255, 255, 255, 1);
  --misc-button-font-family: "Manrope", Helvetica;
  --misc-button-font-size: 16px;
  --misc-button-font-style: normal;
  --misc-button-font-weight: 700;
  --misc-button-letter-spacing: 0px;
  --misc-button-line-height: 100%;
  --neutralblack: rgba(10, 10, 10, 1);
  --primary: rgba(211, 233, 122, 1);
}
